<ion-view view-title="{{ logo }}">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <a menu-close href="#/app/pillows">
          <img class="full-image" src="img/pillows.jpg">
        </a>
        <a menu-close href="#/app/ribbons">
          <img class="full-image" src="img/ribbons.jpg">
        </a>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <div class="title">Developed by Gerardo Hagad</div>
  </div>
</ion-view>
